<div style="padding: 5px 5px 5px 5px; min-width: 800px; width: 1280px; height: 100%;">

	<table style="outline-style: solid; outline-width: medium; outline-color: #e6e6e6; padding: 5px 5px 5px 5px; width: 100%;">
		<tr>
			<td align="left"><div data-location="logo"></div></td>
			<td align="left"><div data-location="tytul"></div></td>
		</tr>
	</table>
	
	<table style="outline-style: solid; outline-width: medium; outline-color: #e6e6e6; padding: 5px 5px 5px 5px; margin-top: 10px">
		<tr>
			<td align="left"><div data-location="przyciskApp0"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp1"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp2"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp3"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp4"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp5"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp6"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp7"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp8"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp9"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp10"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp11"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp12"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp13"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp14"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp15"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp16"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp17"></div></td>
		</tr>
		<tr>
			<td align="left"><div data-location="przyciskApp18"></div></td>
		</tr>
	</table>

	
</div>